In [1]:
# Anil Kumar Ravuru
import pandas as pd

df = pd.read_csv('Final.csv')
df

,name,description,message,fb_like,fb_angry,fb_thankful,fb_haha,fb_sad,fb_wow,fb_love,top_reaction_count,top_reaction,token_words
0,This Korean Ad Hilariously Addresses The Power...,But how is this about the burger?,A proof that makeup and sorcery go hand in han...,1878,1,0,391,0,3,22,391,fb_haha,korean ad hilari address power makeup gag.tv
1,People Are Losing It For The Hiddle-Swift Split,Click to see the pic and write a comment...,My imaginary relationship with Tom Hiddleston ...,7606,5,0,1629,8,13,269,1629,fb_haha,peopl lose hiddl swift split
2,"Sia Drops ""The Greatest"" Video Featuring 49 Da...",49 young dancers representing the 49 people lo...,Another amazing and breathtaking video from Si...,25304,6,0,95,44,367,2065,2065,fb_love,sia drop greatest video featur dancer pay trib...
3,15 Tweets That Remind You Why You Need A Condo...,Click to see the pic and write a comment...,They also remind you how great your parents ar...,3452,2,0,607,0,1,62,607,fb_haha,tweet remind need condom readi
4,Russian Topless Women Help Stop Speeding Drive...,Is it the breast idea ever?,"Not sure of if it will help, or cause more acc...",6454,12,0,1245,8,93,162,1245,fb_haha,russian topless woman help stop speed driver c...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69512,Two Teachers Arrested For Having Threesome Wit...,A pair of female high school teachers have bee...,Two female high school teachers have been arre...,41308,1,0,0,0,0,0,1,fb_angry,two teacher arrest threesom male student unilad
69513,This Robin Williams Tribute Video Is Pretty Aw...,This tribute video for Robin Williams is subtl...,Subtle and full of class. This Robin Williams ...,53350,0,0,0,0,0,1,1,fb_love,robin william tribut video pretti awesom uni lad
69514,These Lads Launch A Walter White Bobblehead In...,Long live Heisenberg!,Long live Heisenberg!,4734,0,0,0,0,0,1,1,fb_love,lad launch walter white bobblehead space amaz ...
69515,Nicole Scherzinger Twerking Is One Of The Hott...,This is very VERY impressive.,WATCH: Nicole Scherzinger twerking... This is ...,7788,0,0,0,0,0,2,2,fb_love,nicol scherzing twerk one hottest thing see we...
69516,Martin O'Neill Absolutely Destroys Vieira And ...,You nailed it Martin. Officially left them spe...,Some vented anger from Martin O'Neill... He ab...,5612,0,0,0,0,0,1,1,fb_love,martin o'neil absolut destroy vieira cannavaro...

In [2]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
vectorizer = CountVectorizer(ngram_range=(1, 2), min_df=2, max_df=1.0)
transformer = TfidfTransformer(use_idf=True)

tf_idf_values = vectorizer.fit_transform(df['token_words'])

In [3]:
tf_idf_values.shape

(69517, 65278)

In [4]:
reaction_order = ['fb_love', 'fb_haha', 'fb_wow', 'fb_sad', 'fb_angry']
df['top_reaction'] = df['top_reaction'].apply(lambda x: reaction_order.index(x))
df.head()

,name,description,message,fb_like,fb_angry,fb_thankful,fb_haha,fb_sad,fb_wow,fb_love,top_reaction_count,top_reaction,token_words
0,This Korean Ad Hilariously Addresses The Power...,But how is this about the burger?,A proof that makeup and sorcery go hand in han...,1878,1,0,391,0,3,22,391,1,korean ad hilari address power makeup gag.tv
1,People Are Losing It For The Hiddle-Swift Split,Click to see the pic and write a comment...,My imaginary relationship with Tom Hiddleston ...,7606,5,0,1629,8,13,269,1629,1,peopl lose hiddl swift split
2,"Sia Drops ""The Greatest"" Video Featuring 49 Da...",49 young dancers representing the 49 people lo...,Another amazing and breathtaking video from Si...,25304,6,0,95,44,367,2065,2065,0,sia drop greatest video featur dancer pay trib...
3,15 Tweets That Remind You Why You Need A Condo...,Click to see the pic and write a comment...,They also remind you how great your parents ar...,3452,2,0,607,0,1,62,607,1,tweet remind need condom readi
4,Russian Topless Women Help Stop Speeding Drive...,Is it the breast idea ever?,"Not sure of if it will help, or cause more acc...",6454,12,0,1245,8,93,162,1245,1,russian topless woman help stop speed driver c...

In [5]:
import scipy.sparse
tf_idf_df = pd.DataFrame.sparse.from_spmatrix(tf_idf_values)

In [6]:
tf_idf_df['reaction'] = df['top_reaction']

In [7]:
type(tf_idf_df)

pandas.core.frame.DataFrame

In [8]:
tf_idf_df

,0,1,2,3,4,5,6,7,8,9,...,65269,65270,65271,65272,65273,65274,65275,65276,65277,reaction
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69512,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
69513,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69514,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69515,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69516,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
tf_idf_df.to_csv('tfidf_values.csv', index=False)